* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5;
}

.menu {
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 30px;
    text-decoration: none;
}

.textoMenu:hover{
    color: white
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    color: black;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

h2 {
    color: #25727C;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

p {
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.head {
    display: block;
    background-color: black;
    position: relative;
}


.logoHead {
    width: 50px;
    height: 50px;
    border: 10px;
    display: inline-block;
}

@media screen and (max-width: 768px){
    .logoHead{
        width: 25px;
        height: 25px; 
        border: 5px;
        margin: 5px;   
    }
}

@media screen and (max-width: 376px){
    .logoHead{
        width: 20px;
        height: 20px;
        margin-top: 8px;
        margin-left: 8px;
      }
}


.headTitulo {
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    left: 715px;
    top: 15px;
}

@media screen and (max-width: 768px){
    .headTitulo{
        font-size:14px;
        left: 680px;
        top: 8px;    
    }
}

@media screen and (max-width: 426px){
    .headTitulo{
        font-size: 15px;
        left: 300px;
        top:9px
       }
}

@media screen and (max-width: 321px){
    .headTitulo{
        font-size: 15px;
        left: 260px;
        top:9px
       }
}

.textFooter {
    color: white;
    background-color: #25727C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: block;
    position: absolute;
    left: 700px;
    text-align: center;
    text-decoration:none;
    top: 25px;
}

@media screen and (max-width: 768px){
    .textFooter {
        font-size: 14px;
        left: 320px;
        top: 30px;
    }
}

@media screen and (max-width: 376px){
    .textFooter {
        font-size: 12px;
        left: 130px;
        top: 20px;
    }
}

@media screen and (max-width: 321px){
    .textFooter {
        font-size: 12px;
        left: 110px;
        top: 20px;
    }
}


.footer {
    display: block;
    background-color: #25727C;
    position: relative;
}

.fondoimagen {
    background-image: url("../multimedia/watercolor.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}

.logo {
    width: 200px;
    height: 200px;
    display: inline;
    position: absolute;
    left: 650px;
    top: 200px
}

@media screen and (max-width: 768px){
    .logo{
        width: 150px;
        height: 150px;
        left: 310px; 
        top: 100px   
    }
}

@media screen and (max-width: 426px){
    .logo{
        left: 140px; 
        top: 140px   
    }
}

@media screen and (max-width: 376px){
    .logo{
        left: 120px; 
    }
}

@media screen and (max-width: 321px){
    .logo{
        left: 90px; 
    }
}

.slogan {
    color: black;
    background: none;
    display: block;
    position: absolute;
    left: 570px;
    top: 410px
}

@media screen and (max-width: 768px){
    .slogan{
        font-size: 18px;
        left: 235px; 
        top: 260px   
    }
}

@media screen and (max-width: 426px){
    .slogan{
        left: 65px; 
        top: 300px   
    }
}

@media screen and (max-width: 376px){
    .slogan{
        left: 70px;
        right: 70px;px; 
        top: 300px   
    }
}

.botonHome {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    position: absolute;
    left: 600px;
    top: 460px
}

@media screen and (max-width: 768px){
    .botonHome{
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 50px;
       
    }
}

.boton1 {
    position: absolute;
    left: 600px;
    top: 460px
}

@media screen and (max-width: 768px){
    .boton1{
        left: 245px; 
        top: 300px   
    }
}

@media screen and (max-width: 426px){
    .boton1{
        left: 190px; 
        top: 340px   
    }
}

@media screen and (max-width: 376px){
    .boton1{
        left: 170px; 
        top: 360px   
    }
}

@media screen and (max-width: 321px){
    .boton1{
        left: 140px; 
        top: 360px   
    }
}

.boton2 {
    position: absolute;
    left: 680px;
    top: 460px
}

@media screen and (max-width: 768px){
    .boton2{
        left: 328px; 
        top: 300px   
    }
}

@media screen and (max-width: 426px){
    .boton2{
        left: 162px; 
        top: 380px   
    }
}

@media screen and (max-width: 376px){
    .boton2{
        left: 141px; 
        top: 400px   
    }
}

@media screen and (max-width: 321px){
    .boton2{
        left: 112px; 
        top: 400px   
    }
}


.boton3 {
    position: absolute;
    left: 820px;
    top: 460px
}

@media screen and (max-width: 768px){
    .boton3{
        left: 470px; 
        top: 300px      
    }
}

@media screen and (max-width: 426px){
    .boton3{
        left: 187px; 
        top: 420px   
    }
}

@media screen and (max-width: 376px){
    .boton3{
        left: 166px; 
        top: 440px   
    }
}

@media screen and (max-width: 321px){
    .boton3{
        left: 137px; 
        top: 440px   
    }
}


.headGaleria {
    display: block;
    background-color: black;
    position: relative;
}

.pinturas {
    width: 400px;
    height: 400px;
    margin: 50px;
    margin-bottom: 2px;
    margin-top: 30px;
}


.resenas {
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
}

/* Estructura grid HOME*/

.contenedorGeneralHome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.3fr;
    grid-template-areas: 
    "header" 
    "body" 
    "footer";
}

.head {
    grid-area: header;
}

.fondoimagen {
    grid-area: body;
}

.footer {
    grid-area: footer;
}

/* Estructura grid GALERÍA*/

.contenedorGeneralGaleria { 
    display: grid;
    grid-template-columns: 0.5fr repeat (3 1fr);
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
    "headGaleria headGaleria headGaleria headGaleria"
    "menu panelGaleria1 panelGaleria2 panelGaleria3"
    "footer footer footer footer";
}

.headGaleria {
    grid-area: headGaleria;
}

.menu {
    grid-area: menu;
}

.panelGaleria1 {
    grid-area: panelGaleria1;
}

.panelGaleria2 {
    grid-area: panelGaleria2;
}

.panelGaleria3 {
    grid-area: panelGaleria3;
}

/* Responsive */


