* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5;
}

.menu {
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    color: black;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

h2 {
    color: #25727C;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

p {
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.head {
    display: block;
    background-color: black;
    position: relative;
}

.logoHead {
    width: 50px;
    height: 50px;
    border: 10px;
    display: inline-block;
}

.headTitulo {
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    left: 700px;
}

.textFooter {
    color: white;
    background-color: #25727C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: block;
    position: absolute;
    left: 700px;
}

.footer {
    display: block;
    background-color: #25727C;
    position: relative;
}


.fondoimagen {
    background-image: url("../multimedia/watercolor.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}

.logo {
    width: 200px;
    height: 200px;
    display: inline;
    position: absolute;
    left: 650px;
    top: 200px
}

.slogan {
    color: black;
    background: none;
    display: block;
    position: absolute;
    left: 570px;
    top: 410px
}

.botonHome {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 600px;
    top: 460px
}

.boton1 {
    position: absolute;
    left: 600px;
    top: 460px
}

.boton2 {
    position: absolute;
    left: 680px;
    top: 460px
}

.boton3 {
    position: absolute;
    left: 820px;
    top: 460px
}


.pinturas {
    width: 500px;
    height: 500px;
}


.resenas {
    margin-top: 50px;
    margin-bottom: 150px;
}

/* Estructura grid*/

.contenedorGeneralHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr 1fr 0.5fr;
}

